@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');


body {
	background-color: #C9D8B6;

}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	font-family: 'Poppins', sans-serif;
	color:  #53B8BB;
}

img {
	width: 250px;
}

ul {
	list-style: none;
	padding: 0;
}

#gallery,
#landing {
	height:  80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.languages,
.tools {
	color:  white;
	padding: 25px;
	height: 200px;
	border:	5px solid #f2f2f2;
	margin: 20px;
	width: 75%;
}
